<!DOCTYPE html>
<html lang="en">


<%- include('common/header'); %>

<body>
    <h1>
        Create Course
    </h1>

    <h2>
        <%= message %>
    </h2>

    <form method="post" class="create_form">
        <section class = "singleBox">
            <label for="Crs_Code"> Course Code: </label> <br>
            <input type = "int" id = "Crs_Code", name = "Crs_Code" required> <br>
        </section>
        <section class = "singleBox">
            <label for="Crs_Title"> Course Title: </label> <br>
            <input type = "text" id = "Crs_Title", name = "Crs_Title" required> <br>
        </section>
        <section class = "singleBox">
            <label for="Crs_Enrollment"> Course Enrollment: </label> <br>
            <input type = "int" id = "Crs_Enrollment", name = "Crs_Enrollment" required> <br>
        </section>
        <input class= "cta-button" type = "Submit" value = "Create Course"> <br>
    </form>

</body>